@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Rubik", sans-serif;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #3a7bd5,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3a7bd5,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn-follow {
  background: #5433ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,

    #20bdff,
    #5433ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #20bdff,
    #5433ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.general {
  transform: scale(0.75) translateX(200px);
}
.active {
  transform: scale(1) translateX(200px);
}
.all-image img {
  transition: all 0.3s ease-in-out;
  width: 200px;
}
