
@font-face {
	font-family: 'samim';
	src: url(fonts/Samim.woff) format("woff")  , url(fonts/Samim.eot) format("eot") , url(fonts/Samim.ttf) format("ttf")
}


@mixin reset_all_elements {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin reset_all_inputs {
  outline: none;
  border: none;
}

@mixin links_styles {
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

* {
  @include reset_all_elements;
  &:focus {
    outline: none;
  }
}

a {
  @include links_styles;
}

input,
input:focus {
  @include reset_all_inputs;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

$bg-gray: #444444;
$border-gray: #575757;
$nav-item-hover: #505050;
$bg-light-gray:#f9f9f9;
$bg-red: #c93d31;
$font-family: "samim";
$font-size: 1rem;
$font-size-sm: 0.75rem;
$font-size-md:1.25rem;
$font-bold:600;
$font-size-lg: 1.5rem;
$font-color: #333;
$font-color-white: #fff;
$bg-green:#1ABC9C;
$line-height: 1.4;
$container: 1200px;
$gradient:linear-gradient(90deg, rgba(54,177,220,1) 0%, rgba(26,188,156,1) 100%);
$bg-yellow:#FFCD70;

body {
  font-family: $font-family;
  color: $font-color;
  font-size: $font-size;
  line-height: $line-height;
}

header {
  background-color: $bg-gray;
  color: $font-color-white;
  nav {
    margin: 0 auto;
    width: $container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: $font-color-white;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      padding: 1.5rem 1rem;
      border-left: 1px solid $border-gray;
      cursor: pointer;
      &:hover {
        background-color: $nav-item-hover;
      }
    }
    ul {
      display: flex;
    }
    .nav__right img {
      width: 20px;
      height: 20px;
    }
    .nav__left {
      .icon {
        color: $font-color-white;
      }
      img {
        width: 60px;
        height: 30px;
      }
      .bell {
        font-size: $font-size-lg;
        color: $border-gray;
      }
      li:first-child {
        a {
          position: relative;
          z-index: 0;
          &::before {
            content: "1";
            position: absolute;
            top: 30%;
            left: 20%;
            background-color: $bg-red;
            color: $font-color-white;
            font-size: $font-size-sm;
            width: 15px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            z-index: 99999;
          }
        }
        a:hover .bell {
          color: $font-color-white;
        }
        
      }
      
    }
  }
}
.search_box{
  background: $gradient;
  text-align: center;
  display: flex;
  gap: 30px;
  padding:30px;
  flex-direction: column;
  .search_box--title{
    color:$font-color-white ;

  }
  .form{
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    .input__box{
      background-color: $font-color-white;
      padding:0 10px;
      display: flex;
      align-items: center;
      border-radius: 4px;


    .input-form{
      width: 300px;
      height: 50px;
      padding: 10px;
      cursor: pointer;


    }
    ion-icon{
      width: 20px;
      height: 20px;
    }
    
  }
  button{
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    background-color:$bg-yellow ;
    font-size: $font-size-md;
    font-weight: $font-bold;
  }
  }
  .view-all{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-color-white;

    a{
      color: $font-color-white;
      font-size: $font-size-sm;
      font-weight: $font-bold;
    }
  }
}
.loaded-box{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 600px;
 margin: 10px auto;
 background-color:$bg-light-gray ;
 border-radius: 40px;

 .loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  transform:rotate(45deg);
  background: #fff;
  margin: 10px;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border:24px solid $bg-green;
  animation: prixClipFix 4s infinite linear;
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
}

.swiper{
  width: 1000px;
  height: 300px;
  .swiper-wrapper{
display: flex;
justify-content: space-between;
    .swiper-slide{
      display: flex;
      gap: 40px;

      img{
        width: 150px;
        height: 150px;
      
      }
      p{
        color:gray;
      }
    }
  }
}

