@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  color: #fff;
}

.audio__container {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 6rem;
  margin: 4rem auto;
}

.audio__container .audio__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.audio__container .audio__box .audio__image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
}

.audio__container .audio__box .audio__content {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.audio__container .audio__box .audio__content--box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.audio__container .audio__box .audio__content--box .audio__controls--like {
  font-size: 2rem;
}

.audio__container .audio__box .audio__content .audio__content--singer {
  font-size: 1.2rem;
  font-weight: 800;
  color: #ecb638;
}

.audio__container .audio__box .audio__content .audio__content--comment {
  font-size: 0.7rem;
}

.audio__container .audio__player {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.audio__container .audio__player .audio__controls {
  display: flex;
  gap: 2rem;
}

.audio__controls--icon {
  font-size: 2.5rem;
  cursor: pointer;
}

.audio__player .audio__controls .audio__controls--pause {
  display: none;
}

.audio__player .audio__volume {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.audio__player .audio__volume .audio__controls--volume {
  font-size: 1.5rem;
}

.audio__volume--indicator,
.audio__progress--indicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}

.audio__volume--indicator::-webkit-slider-runnable-track,
.audio__progress--indicator::-webkit-slider-runnable-track {
  background-color: #ecb638;
  border-radius: 10px;
  height: 10px;
}

.audio__volume--indicator::-moz-range-track,
.audio__progress--indicator::-moz-range-track {
  background-color: #ecb638;
  border-radius: 10px;
  height: 10px;
}

.audio__volume--indicator::-webkit-slider-thumb,
.audio__progress--indicator::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -3px;
  background-color: #fff;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.audio__volume--indicator::-moz-range-thumb,
.audio__progress--indicator::-moz-range-thumb {
  -moz-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -3px;
  background-color: #fff;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.audio__player .audio__progress {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.audio__player .audio__progress .audio__progress--indicator {
  width: 400px;
}
